<header>
	<nav class="navbar navbar-default navbar-fixed-top navbar-utmost" role="navigation">
		<div class="container-fluid">
			<div class="row">
				
				<a class="navbar-brand col-xs-2" ng-href="{{returnLink}}"><span class="glyphicon glyphicon-chevron-left"></span></a>

				<a class="vote upvote"></a>

				<div class="pull-right infos-fa">
					<div class="btn-group btn-group-fa">
						<a class="btn btn-flat" ng-click="upvote()" ng-class="upvoted?'vote-selected':''" title="Suitable">
							<i class="fa fa-arrow-circle-o-up"></i>
							<em>Suitable</em>
						</a>
						<a class="btn btn-flat" ng-click="downvote()" ng-class="downvoted?'vote-selected':''" title="Unsuitable">
							<i class="fa fa-arrow-circle-o-down"></i>
							<em>Unsuitable</em>
						</a>
						<a class="btn btn-flat" ng-click="showShare=true" ng-show="!showShare" title="Share">
							<i class="fa fa-share-alt-square"></i>
							<em>Share</em>
						</a>
						<div class="share-buttons pull-left" share-square="true" share-links="Facebook, Twitter, LinkedIn, Google-Plus" share-title="Article Title" ng-show="showShare"></div>
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>

<div class="container-fluid container-utmost">
<div class="row utmost-description">
	<div class="col-xs-12">
		<div ng-bind-html="htmlDescription"></div>
		<span class="text-danger ng-hide" ng-show="$parent.$parent.thingmodel &amp;&amp; unfound &amp;&amp;!$parent.$parent.thingmodel.loading">Risk not found</span>
	</div>
</div>

<div class="row utmost-geo-views">
	<div id="streetview-thing" ng-if="hasStreetview" class="col-md-12 col-lg-6">
	</div>

	<div ng-class="hasStreetview ? 'col-lg-6' : ''"  class="col-md-12 utmost-map" id="thing-map" ng-hide="hideMap"></div>
	<div id="interactions-mask"></div>
</div>
<div class="aftenposten-report row" ng-if="thing.type &amp;&amp; thing.type.indexOf('aftenposten') !== -1">
	Data collected by <a href="http://www.aftenposten.no/" target="_blank"><img src="/images/Aftenposten_logo.svg" height="24"/></a>
</div>
<div class="row">
	<div id="utmost-picture" ng-if="isPicture" class="col-md-12 col-lg-6 media-view">
		<img ng-src="{{thumbnailUrl}}" alt="" class="img-thumbnail" id="camera-thumbnail" ng-click="showPicture()"/>
	</div>
	<div id="utmost-picture" ng-if="isVideo" class="col-md-12 col-lg-6 media-view">
		<video id="video{{thing.id}}" controls ng-attr-poster="{{posterUrl}}" loop autoplay fullscreen="videoFullscreen" ngi-click="videoFullscreen = !videoFullscreen">
			<source ng-src="{{mp4Url}}" type="video/mp4">
			<source ng-src="{{webmUrl}}" type="video/webm">
		</video>
	</div>
	<div ng-class="isPicture ? 'col-lg-6' : ''"class="col-md-12 utmost-disqus" disqus="thing.ID"></div>
</div>
</div>
</div>

<div ng-if="fullscreenPicture" id="picture-view" ng-click="$parent.fullscreenPicture = false" fullscreen="$parent.fullscreenPicture">
	<div>
		<img ng-src="{{fullUrl}}" alt="" />
	</div>
</div>